:root {
    --primary: #997b66;
    --bg: #FFF8EA;
    --font: #2C3639;

}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    color: var(--font);
}

img {
    width: 100%;
    height: 100%;
}

a {
    color: var(--font);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
}


/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
}
.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav a {
    color: var(--font);
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 1rem;
    
}
.navbar .navbar-nav a:hover {
    color: #FFDB58;
}
.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.3rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: .2s linear;
}
.navbar .navbar-nav a:hover::after {
    transform: scaleX(.5);
}

.navbar .navbar-extra a {
    color: var(--font);
    margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#humberger-menu {
    display: none;
}

.navbar .navbar-nav.active {
    right: 0;
}

/* hero section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/bg-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, #FFF8EA 3%, rgba(255, 255, 255, 0) 30%);
}

.hero .konten {
    color: white;
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .konten h1 {
    color: #FFDB58;
    font-size: 3.5em;
    line-height: 1.2;
}

.hero .konten h1 span {
    color: white;
}

.hero .konten p {
    color: white;
    margin-top: 10px;
    font-size: 1rem;
    max-width: 30rem;
    font-weight: 300;
}

.hero .konten .cta {
    margin-top: 1rem;
    padding: 1rem 3rem;
    display: inline-block;
    font-size: 1.1rem;
    color: var(--primary);
    background-color: whitesmoke;
    border-radius: .5rem;
    box-shadow: 2px 2px 3px rgba(1, 1, 1, .8);
    font-weight: bold;
    transition: .3s;
}
.hero .konten .cta:hover {
    background-color: #997b66;
    color: white;
}

/* about */
.about {
    padding: 8rem 7% 1.4rem;
}

.about h2 , .menu h2 {
    font-size: 2.2rem;
    margin-bottom: 3rem;
    text-align: center;
}

.about h2 span {
    color: var(--primary);
}

.about .row {
    display: flex;
    gap: 3rem;
    padding-top: 2rem;
}

.about .row .about-img {
    flex: 1 1 35rem;
}

.about .row .about-img img {
    width: 100%;
}
.about .row .about-konten {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .about-konten h3 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.about .row .about-konten p {
    font-size: 1.1rem;
    margin-top: 20px;
    line-height: 1.2;
}

/* menu */
.menu {
    padding: 7rem 7% 5rem;
}
.menu h2 {
    margin-bottom: .5rem;
}
.menu p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    color: #7f8b8d;
    line-height: 1;
}

.menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    gap: 2rem;
    justify-content: center;
}

.menu .row .menu-card {
    width: 200px;
    height: 200px;
    text-align: center;
    margin-bottom: 3rem;
}
.menu .row .menu-card img {
    width: 100%;
}
.menu .row .menu-card p {
    margin-top: 10px;
}

/* kontak */
.kontak {
    padding: 2rem 7% 5rem;
    background-color: var(--font);
}

.kontak h2 {
    text-align: center;
    color: white;
    margin: 2.5rem 0;
}

.kontak .row-kontak {
    display: flex;
}

.kontak .row-kontak .map {
    flex:  1 1 30rem;
    width: 100%;
    height: 20rem;
}

.kontak .row-kontak form {
    flex: 1 1 30rem;
    padding: 2rem;
    background-color: var(--bg);
}

.kontak .row-kontak form .form-control {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--font);
    padding: .5rem;
    margin-bottom: 1rem;
}
.kontak .row-kontak form .form-control input {
    width: 100%;
    font-size: 1.2rem;
    background: none;
}
.kontak .row-kontak form .btn-kontak {
    padding: .5rem 2rem;
    display: inline-block;
    font-size: 1rem;
    color: whitesmoke;
    font-weight: bold;
    background-color: var(--primary);
    transition: .2s;
    margin-top: 1rem;
}
.kontak .row-kontak form .btn-kontak:hover {
    cursor: pointer;
    opacity: .8;
    
}

/* footer */
footer {
    background-color: var(--primary);
    padding: 1.5rem 0;
    text-align: center;
}

footer p, footer a {
    color: white;
}

/*  media queris */

/* laptop */
@media (max-width: 1200px) {
    html {
        font-size: 75%;
    }
}
/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    #humberger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 25rem;
        height: 100vh;
        background-color: var(--primary);
        transition: .3s;
    }

    .navbar .navbar-nav a {
        display: block;
        color: white;
        font-size: 1.5rem;
        margin: 1.5rem;
        padding: .5rem;
    }

    .about .row {
        flex-wrap: wrap;
    }
    .about .row .about-konten p {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .kontak .row-kontak {
        flex-wrap: wrap;
    }

}
/* phone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }

    
}